
.form-signin {
        width: 800px;
        padding: 10px 10px 5px 29px;
        margin: 0 auto 10px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin textarea{
  width: 350px;
  resize:none;
}

.container .form-search .input-append {
  display:block;
  padding-right:99px
}
.input-append input.search-query {
  width:50%
}

.form-signin {
  list-style: none;
}
.form-signin  #destroy{
  visibility: hidden;
}
.form-signin  :hover #destroy{
  visibility: visible;
}

.events-panel{
  width: 835px;
}