<style>
      #BusinessInfo,#BusinessTrend,#WaitMoney,#ShouldGet{
        width: 1500px; 
        height: 2000px;
      }
      {
        width: 1500px; 
        height: 2000px;
      }
      #pie{
        border-style: groove;
        width: 750px; 
        height: 430px;
      }
      #task{
        border-style: groove;
        width: 250px; 
        height: 430px;
      }
      #pie, #task{
        float:left;
        margin-right: 20px;
      }
      #container1, #container2{
          width: 350px; 
          height: 300px;
          float:left;
          margin-right: 20px;
      }
      #container3 {
        padding-top: 0px;
      }
      #partA, #partB{
        padding-left:120px;
        float:left;
        margin-right: 160px;
      }
</style>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#BusinessInfo" class="BusinessInfo" data-toggle="tab">本周商务情况</a>
    </li>
    <li class="">
      <a href="#BusinessTrend" class="BusinessTrend" data-toggle="tab">已回款</a>
    </li>
    <li class="">
      <a href="#WaitMoney" class="WaitMoney" data-toggle="tab">待回款</a>
    </li>
    <li class="">
      <a href="#ShouldGet" class="ShouldGet" data-toggle="tab">应收款</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="BusinessInfo">
      <div id="pie">
        <h4 id="title1">合同进展情况</h4>
        <div id="container1"></div>
        <div id="container2"></div>
        <div id="part">
          <div id="partA">
            <h4 id="content1"></h4>
          </div>
          <div id="partB">
            <h4 id="content2"></h4>
          </div>
        </div>
      </div>

      <div id="task">
        <h4 id="title2">代办任务</h4>
      </div>
    </div>

    <div class="tab-pane" id="BusinessTrend">
      <div id="container3"></div>
    </div>

    <div class="tab-pane" id="WaitMoney">
      <div id="container4"></div>
    </div>

    <div class="tab-pane" id="ShouldGet">
      <div id="container5"></div>
    </div>
  </div>

</div>