<div class="row-fluid">
	<div class="span12">
		<div class="span5">
			<div class="input-prepend">
				<span class="add-on">事件名称</span>
				<input class="input-large" id="eventName prependedInput" type="text" value="<%- title %>"></div>

			<div id="completedTime<%- id %>" class="input-append input-prepend date" data-date="" data-date-format="yyyy-mm-dd" >
				<span class="add-on">执行时间</span>
				<input type="text" class="input-large" id="completedTime" value="<%- date %>" readonly="">
				<span class="add-on"><i class="icon-calendar"></i>
				</span>
			</div>
		</div>
		<textarea class="span6" rows="3" placeholder="请输入事件" id="remark" style="margin-left: 60px;" ><%- remark %></textarea>
		<a class="icon-remove" id="destroy" style="margin-left: 9px;"></a>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$('#completedTime<%- id %>').datepicker();
		$('#completedTime<%- id %>').datepicker().on('changeDate',function(env){
		$('#completedTime<%- id %>').datepicker('hide');
			});
	});
</script>