td{
	cursor:pointer;
}

.search_input1{
	width: 213px;
}
#custom_search_panel {
	margin-top: 5px;
	display: none;
}

.basebox {
	border:1px solid #d5d5d5;
	padding: 10px;
	position: relative;
	min-width: 371px;
}

.basebox a{
	text-decoration: none;
	color: #a0a0a0;
	font-size: 12px;
	cursor:pointer;
}

#removeBtn {
	position: absolute;
	top: 5px;
	right: 10px;
}

.type_item {
	margin-right: 15px;
}


.group_right {
	margin-left: 5px;
}

.search_group{
	margin-left: 8px;
	margin-top: 5px;
}

.time_group{
	display: inline-block;
}

.search_input {
	width: 232px;
	margin-top: 8px;
}

.btn-date {
	width: 35px;
	height: 22px;
	margin-bottom: 2px;
}

.search_date {
	margin-top: 8px;
	width: 100px;
}

td{
	vertical-align: middle;
}

.row-title{
text-overflow:ellipsis;
width: 250px;
height: 20px;
}

.row-date{
	width: 70px;
}

/* 附件列表css */

.attachment_box{
	border: 1px solid #d5d5d5;
	
}
/* 事件表格css */
.trEvent{
	display: none;
}
.eventTab{
	width:100%;
}
.eventTab td {
  border:none;
}
.eventTab .tdFirst {
  width:20px;
}
.eventTab .eventTd3{
	text-align: right;
	padding-right: 40px;
}
.eventTab td span{
	color:#669fc7;
}







