		.addevent{
			width: 150px;
			height: 45px;
		}


		ul {
			margin: 0 0 10px 0;
			position: relative;
		}

		#eventsList {
			
		}

		#eventsList li:hover #delete{
			display: block;
		}
		#eventsList li{
			margin-bottom: 5px;
		}

		#eventsList li {
			list-style-type: none;
			padding:0px;
			margin: 0 0 7px 0;
		}

		li{
			list-style-type: none;
		}

/*		#delete {
			display: none;
			position: absolute;
			right: 3px;
			top: 7px;
			cursor:pointer;
			color: #d15b47;
		}*/


		.cellgroup{
			margin-bottom: 20px;
		}

		.cell-label{
			float: left;
			padding-top:5px; 
		}

		.cellcontrol{
			margin-left: 80px;
		}

		.hiddenInput{
			border-top:1px; 
  			border-left:0px ; 
  			border-right:1px;
			border-bottom: 1px solid #CCC;
			background-color:transparent;
			outline:none;
			color: #5090c1;
			margin-right: 10px; 
			padding-left: 5px;
		}

		.hid{
			border-top:1px; 
  			border-left:0px ; 
  			border-right:1px;
			border-bottom: 1px solid #CCC;
			background-color:transparent;
			outline:none;
			color: #5090c1;
			margin-right: 10px; 
			padding-left: 5px;
			width: 100px;
		}

		.hidd{
			border-top:1px; 
  			border-left:0px ; 
  			border-right:1px;
			border-bottom: 1px solid #CCC;
			background-color:transparent;
			outline:none;
			color: #5090c1;
			margin-right: 10px; 
			padding-left: 5px;
			width: 100px;
		}
		.hiddenInput2{
			border-top:1px; 
  			border-left:0px ; 
  			border-right:1px;
			border-bottom: 1px solid #CCC;
			background-color:transparent;
			outline:none;
			color: #5090c1;
			margin-right: 10px; 
			padding-left: 5px;
			width: 100px;
		}
		.hiddenInput3{
			border-top:1px; 
  			border-left:0px ; 
  			border-right:1px;
			border-bottom: 1px solid #CCC;
			background-color:transparent;
			outline:none;
			color: #5090c1;
			margin-right: 10px; 
			padding-left: 5px;
			width: 100px;
		}


		.celltitle{
			font-size: 15px;
		}

		.cellremark{
			min-height: 30px;
		}

		.bottom-cmd{
			margin-top: 10px;
		}

		.event-top-cmd{
			margin-bottom: 10px;
		}

		.warn-tip{
			padding-top: 5px;
		}

		.dropdown-menu li {
			cursor:pointer;
		}

		.baseBox{
			//box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
			//border: 1px solid #eeeeee;
			border-bottom: 1px dotted #6fb3e0;
			border-radius: 2px;
			position: relative;
			height: 32px;
			margin-bottom: 8px;
		}

		.boxFlag {
			float: left;
			width: 20px;
			height: 32px;
			background: #6fb3e0;
			text-align: center;
			line-height: 35px;
			font-size: 16px;
			color: white;
			border-radius: 1px;
			text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
			margin-right: 2px;
		}

		.boxTitle {
			float: left;
			height: 35px;
			padding: 0 10px;
			text-align: center;
			line-height: 37px;
			font-size: 14px;
			color: #7E7E7E;
		}

		.boxDate {
			float: left;
			height: 35px;
			padding: 0 10px;
			margin-left: 5px;
			text-align: center;
			line-height: 37px;
			font-size: 14px;
			color: #7E7E7E;
			//text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
			//background: #6fb3e0;
		}

		.flagred{
			background: #ff7394;
		}

		.flagblue{
			background: #6fb3e0;
		}

		.flaggree{
			background: #98dd60;
		}

		.item {
			float: left;
			margin-right: 10px;

		}


		.itemTitle{
			float: left;
			height: 32px;
			padding: 0 20px;
			background: #90c7eb;
			text-align: center;
			line-height: 34px;
			font-size: 14px;
			color: white;
			border-radius: 1px;
			text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
		}

		.itemContent{
			float: left;
			border-bottom: 1px dotted #6fb3e0;
			height: 32px;
			padding: 0 20px;
			background: white;
			text-align: center;
			line-height: 34px;
			font-size: 14px;
			color: #7E7E7E;
		}

		#billremark, #priceremark{
			border: 0px;
			height: 20px;
			margin-bottom: 0px;
			background-color:transparent;
			outline:none;
		}

		#remark {
			border: 0px;
			height: 20px;
			margin-bottom: 0px;
			background-color:transparent;
			outline:none;
		}

		#newBody{
			padding:1px 0 0 0;
		}

		.title_left{
			font-size: 14px;
			margin-left: 20px;
			width: 100px;
			display: inline-block;
			float: left;
			text-align: right;
			padding-right: 10px;
			margin-top: 5px;
		}
		.title_right{
			font-size: 14px;
			width: 100px;
			margin-left: 20px;
			display: inline-block;
			text-align: right;
			float: left;
			padding-right: 10px;
			margin-top: 5px;
		}

		.item_state{
			font-size: 14px;
			padding-right: 10px;
			margin-top: 5px;
			color: #939192;
		}

		.validate_item{
			display: inline-block;
		}

		.form-horizontal .control-group{
			margin-bottom: 5px;
		}

		.contract-form {
			margin-top: 10px;
			padding-top:50px;
		}

		.upload-btn{
			width: 92%;
		}
		.file-list {
			width: 40%;
			border:1px solid #d5d5d5;
			background: #F5F5F5;
		}

		.file-size {
			padding-left: 10px;
			font-style: italic;
		}

		.file-no {
			padding-right: 10px;
		}

		.files{
			list-style-type: none;
		}

		.files li {
			list-style-type: none;
			//border: 1px solid #d5d5d5;
			border-bottom: 1px dotted #d5d5d5;
			font-size: 14px;
			padding: 5px 0;
		}

		.files li a{
			text-decoration: underline;
		}

		.files #removeBtn{
			margin-left: 15px;
			display: none;
			cursor: pointer;
			color: #ee5f5b;
		}

		.files li:hover #removeBtn{
			display: inline-block;
		}

		#templateList li{
			position: relative;
		}

		#templateList #deleteTemp{
			right: 5px;
			top: 5px;
			color: white;
			cursor: pointer;
			position: absolute;
			display: none;
		}

		
		#templateList li:hover #deleteTemp{
			display: inline-block;
			color: #dd5a43;
		}

		#partyAabbr,#partyBabbr{
			margin-left: 5px;
		}

