<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">

			<a href="#" class="brand">
				<small> <i class="{{site.brand_icon}}"></i>
					{{site.brand_text}}
					 {{! {{site.brand_verson }} 
					<a href="/version" class="brand"><font size="2px"><u>{{site.brand_verson}}</u></font></a>
				</small>
			</a>
			<!--/.brand-->

			<ul class="nav ace-nav pull-right">{{> layout.topbar.user_menu}}</ul>
			<!--/.ace-nav-->

		</div>
		<!--/.container-fluid-->
	</div>
	<!--/.navbar-inner-->
</div>