<input id="cType" type="hidden" value="{{params.type.type}}">

<ul class="nav nav-tabs" id="myTab">
	<li class="active">
		<a data-toggle="tab" href="#info"> <i class="green  icon-info-sign bigger-110"></i>
			公司信息列表
		</a>
	</li>

	<li class="">
		<a data-toggle="tab" href="#attachments"> <i class="blue icon-download-alt bigger-110"></i>
			附件列表
		</a>
	</li>
</ul>

<div class="tab-content">
	<div id="info" class="tab-pane active">
		<form id="validateForm">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h3 class="smaller lighter green">{{params.type.name}}公司信息</h3>
				</div>
			</div>
			<div class="contract-form form-horizontal row-fluid">
				<div class="span6">
					<div class="control-group ">
						<div class=" title_left">公司全称</div>
						<div class="controls">
							<input id="cFullName" name="cFullName" type="text"  class="span10" placeholder="公司全称"></div>
					</div>
				    <div class="control-group ">
						<div class=" title_left">公司简称</div>
						<div class="controls">
							<input id="cAbbreviation" name="cAbbreviation" type="text"  class="span10" placeholder="简称"></div>
					</div>
					<div class="control-group ">
						<div class=" title_left">公司地址</div>
						<div class="controls">
							<textarea id="cAddr" name="cAddr" class="span10" rows="3" placeholder='地址'></textarea> 
						</div>

					</div>
					<div class="control-group ">
						<div class=" title_left">公司官网</div>
						<div class="controls">
							<input id="cOffiWeb" name="cOffiWeb" type="text"  class="span10" placeholder="官网"></div>
					</div>
				</div>

				<div class="span6">
					<div class="control-group">
						<div class=" title_right">联系方式</div>
						<div class="controls">
							<input id="cTel" name="cTel" type="text"  class="span10" placeholder="电话"></div>
					</div>
					<div class="control-group">
						<div class=" title_right">公司邮箱</div>
						<div class="controls">
							<input id="cEmail" name="cEmail" type="text"  class="span10" placeholder="邮箱"></div>
					</div>


				</div>

			</div>
		</form>

		<div class="widget-box transparent">
			<div class="widget-header"></div>
		</div>
		<div class="row-fluid bottom-cmd">
			<div class="span2">
			</div>

			<div class="span6 hidden-phone"></div>
			<div class="span2">
				<a id="backBtn" class="btn span12" href="javascript:history.go(-1)">返回</a>
			</div>
			<div class="span2">
				<button id="saveBtn" class="btn btn-success span12" data-last="Finish">保存信息</button>
			</div>
		</div>
	</div>

	<div id="attachments" class="tab-pane">

		<div class="file-list">
			<button id="file_upload">选择附件</button>
		</div>
	</div>

</div>