<div class="row-fluid">
	<div class="span12">
		<h3 class="header smaller lighter blue">
			授权管理
			<span id="re_roleName" class="pull-right">
				<h5>
					展现
						<select id="item" class="mySelect">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
						</select>条

					角色名:
					<select id="resource_role" class="select2"></select>
				</h5>
			</span>
		</h3>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="center">授权</th>
					<th class="center">资源名</th>
					<th class="center">URL</th>
					<th class="center" colspan="4">操作</th>
				</tr>
			</thead>
			<tbody id="authorizeBody"></tbody>
		</table>
		<div id="tip"></div>
		<div id="paginator"></div>
		<div class="center">
			<button id="savaBtn" class="btn btn-warning">保存设置</button>
		</div>
	</div>
</div>