	<div class="row-fluid">
		<div class="form-horizontal">
			<div class="control-group">
				<label class="control-label">合同编号</label>
				<div class="controls">
					<div class="span4 row-fluid">
						<input id="myId" name="myId" type="text"  class="span12" placeholder="合同编号"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">合同名称</label>
				<div class="controls">
					<div class="span4 row-fluid">
						<input id="name" name="name" type="text"  class="span12" placeholder="合同名称"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">甲方</label>
				<div class="controls">
					<div class="span4 row-fluid">
						<input id="partyA" name="partyA" type="text"  class="span12" placeholder="甲方"></div>
				</div>
				<label class="control-label">乙方</label>
				<div class="controls">
					<div class="span4 row-fluid">
						<input id="partyB" name="partyB" type="text"  class="span12" placeholder="乙方"></div>
				</div>
			</div>
			<div class="control-group">
				
			</div>
			<div class="control-group">
				<label class="control-label">签订日期</label>
				<div class="controls">
					<div class="row-fluid input-append date span6">
						 <div class="span8">
							<input name="signPicker" class="date-picker" id="signPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">	
							<span class="add-on"> <i class="icon-calendar"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">开始日期</label>
				<div class="controls">
					<div class="row-fluid input-append date span6">
						<div class="span8">
							<input name="beginPicker" class="date-picker" id="beginPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">	
							<span class="add-on"> <i class="icon-calendar"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">结束日期</label>
				<div class="controls">
					<div class="row-fluid input-append date span6">
						<div class="span8">
							<input name="endPicker" class="date-picker" id="endPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">	
							<span class="add-on">
								<i class="icon-calendar"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">金额</label>
				<div class="controls">
					<div class="span4 row-fluid">
						<input  name="amount" id="amount" type="text"  class="span12" placeholder="金额"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">状态</label>
				<div class="controls">
					<div class="span4 row-fluid">
						<input name="state"  id="state" type="text"  class="span12" placeholder="状态"></div>
				</div>
			</div>
		</div>
	</div>