<!-- 传给js的参数 公司类型甲方或乙方 -->
<input type="hidden" value={{params.type.type}} id="cType"/>
<div class="contract-content">
	<div class="widget-box transparent">
		<div class="widget-header">
			<h3 class="smaller lighter green">{{#params.type}}{{name}}{{/params.type}}公司列表</h3>
			<div class="widget-toolbar no-border span2 pull-right" style="width:30%">
				<a id="deleteCompanyBtn" class="btn btn-small btn-darger eBtn1">删除公司</a>
				<a class="btn btn-small btn-success eBtn1" href="/company/new/{{params.type.type}}">添加公司</a>
			</div>
		</div>
	</div>

	<table id="table_bug_report" class="table table-striped table-bordered table-hover" algin="center">
		<thead>
			<tr>
				<th class="center">
					<label>
						<input type="checkbox">
						<span class="lbl"></span>
					</label>
				</th>
				<th class="center" style="display:none">cid</th>
				<th class="center hidden-480">
					公司全称
				</th>
				<th class="center">公司简称</th>
				<th class="center">地址</th>
				<th class="center">公司官网</th>
				<th class="center">联系方式</th>
				<th class="center">公司邮箱</th>
			</tr>
		</thead>

		<tbody id="contractsTbody"></tbody>
	</table>
	<div id="tip"></div>
</div>