<div class="span7">
	<h3 id="deskHeader" class="row-fluid header smaller lighter purple" >
		<span class="span12">
			业绩统计
			<span class="desktop_search pull-right">
				<span>时　间:</span>
				<span class="group_right">
					<span>
						<input id="beginDate" class="date-picker search_date" type="text" data-date-format="yyyy-mm-dd" readonly="true"></span>
					至
					<span>
						<input id="endDate" class="date-picker search_date" type="text" data-date-format="yyyy-mm-dd" readonly="true"></span>
				</span>

				<button id="dsearchBtn" class="btn btn-purple btn-small">搜　索</button>
			</span>
		</span>
	</h3>
	<div class="row-fluid">
		<div id="loading" class="span6 widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h4>合同款</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main" id="pholder1">
					<div id="placeholder1"></div>
				</div>
				<!--/widget-main-->
			</div>
			<div id="loadbox">
			
			</div>
		</div>
		<div id="loading1" class="span6 widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h4>乙方公司</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main"  id="pholder2">
					<div id="placeholder2"></div>
				</div>
				<!--/widget-main-->
			</div>
			<div id="loadbox">
				
			</div>
		</div>
	</div>

	<div id="loading2" class="widget-box" style="margin-top:12px">
		<div class="widget-header widget-header-flat widget-header-small">
			<h4>甲方公司</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main" id="pholder3">
				<div id="placeholder3"></div>
			</div>
			<!--/widget-main-->
		</div>
		<div id="loadbox">
		
		</div>
	</div>

	<div class="hr hr32 hr-dotted" style="margin-top:20px;margin-bottom:-1px"></div>
</div>

<div id="desk_task" class="span5">
	<div class="span12 widget-box transparent" id="recent-box">
		<div class="widget-header">
			<h4 class="lighter smaller">
				<i class="icon-rss orange"></i>
				待办任务
			</h4>

			<div class="widget-toolbar no-border">
				<ul class="nav nav-tabs" id="recent-tab">
					<li id="waitToDo" class="active">
						<a data-toggle="tab" href="#task-tab">待办</a>
					</li>

					<li id="outDate">
						<a data-toggle="tab" href="#member-tab">过期</a>
					</li>

					<li id="finishedTask">
						<a data-toggle="tab" href="#comment-tab">完成</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main padding-4">
				<div class="tab-content padding-8">
					<div id="task-tab" class="tab-pane active" style="margin-top:-10px">
						<h4 class="smaller lighter green">
							<i class="icon-list"></i>
							未来7天
						</h4>
						<div id="taskToFinish"></div>
					</div>

					<div id="member-tab" class="tab-pane" style="margin-top:-10px">
						<h4 class="smaller lighter purple">
							<i class="icon-list"></i>
							全部过期(
							<span style="color:red;font-size:16px">请尽快补办或改变时间</span>
							)
						</h4>
						<div id="outOfDate"></div>
					</div>
					<!--member-tab-->

					<div id="comment-tab" class="tab-pane" style="margin-top:-10px">
						<h4 class="smaller lighter red">
							<i class="icon-list"></i>
							过去7天
						</h4>
						<div id="isFinished"></div>
					</div>
				</div>
			</div>
			<!--/widget-main-->
		</div>
		<!--/widget-body-->

	</div>
	<!--/widget-box-->
</div>
