<div class="row-fluid" style="margin-top:-10px">
	<div class="span12">
		<div id="table-header">
			<h3 class="header smaller lighter blue">
				全年预计回款计划表
				<span class="pull-right">
					<label id="itemLabel">
						年份
						<select id="yearItem">
							
						</select>
					</label>
				</span>
			</h3>
		</div>
		<table id="table_fund" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="center">月份</th>
					<th class="center">计划回款</th>
					<th class="center">已回款</th>
				</tr>
			</thead>
			<!--插入 tbody-->
			<tbody id="table_plan"></tbody>
		</table>
		<div id="tip"></div>
	</div>
</div>
