<input id="pieID" type="hidden" value="{{params._id}}">
<input id="getStart" type="hidden" value="{{params.start}}">
<input id="getEnd" type="hidden" value="{{params.end}}">
<input id="pieType" type="hidden" value="{{params.type}}">

<div class="row-fluid">
	<div class="span12">
		<div id="table-header">
			<h3 class="header smaller lighter blue">
				合同明细
				<span style="font-size:10px">></span>

				<span id="detailValue" style="font-size:15px" value=""></span>
				<span style="font-size:15px" id="showTime"></span>
				<span class="pull-right">
					<label id="pieLabel">
						展现
						<select id="item">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
						</select>
						条
						<input type="button" id="exportExcel_pie" value="Excel" class="btn btn-small btn-info"/>
					</label>
				</span>
			</h3>
		</div>
		<div>
			<table id="table_bug_report" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="center span3">合同名称</th>
						<th class="center span2">甲方</th>
						<th class="center span2">乙方</th>
						<th class="center span2">合同金额</th>
						<th class="center span2">状态</th>
					</tr>
				</thead>
				<tbody id="pieTable"></tbody>
			</table>
			<div id="paginator"></div>
		</div>
	</div>
</div>
